.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
}

.btn-primary {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  border: 0px;
  cursor: pointer;
  color: #fff;
  font-weight: "500";
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #404bbf;
}
